{% extends 'base.html' %}

{% block title %}
Зарегистрироваться
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
<h2>Зарегистрирваться на MarketPlace</h2>
<form method="post">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="first_name">Имя: <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="first_name">
      </div>
      <div class="form-group">
        <label for="last_name">Фамилия: <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="last_name">
      </div>
      <div class="form-group">
        <label for="particular_name">Отчество: <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="particular_name">
      </div>
      <div class="form-group">
        <label for="email">Email: <span class="text-danger">*</span></label>
        <input type="email" id="email" class="form-control">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="password">Пароль:<span class="text-danger">*</span></label>
        <div class="input-group">
          <input type="password" id="password" class="form-control">
          <div class="input-group-append">
            <a href="#" class="btn btn-outline-dark" onclick="retype_password('#password', '#password-visibility-icon')"><i id="password-visibility-icon" class="material-icons">visibility</i></a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Подтвердите пароль:<span class="text-danger">*</span></label>
        <div class="input-group">
          <input type="password" id="confirm_password" class="form-control">
          <div class="input-group-append">
            <a href="#" class="btn btn-outline-dark" onclick="retype_password('#confirm_password', '#confirm-password-visibility-icon')"><i id="confirm-password-visibility-icon" class="material-icons">visibility</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <input type="submit" class="btn btn-dark">
</form>
<script type="text/javascript">
  function retype_password(element_id,icon_id)
  {
    let
      element = $(element_id),
      icon = $(icon_id);
    if (icon.html() == "visibility")
    {
      element.attr('type', 'text');
      icon.html("visibility_off");
    }
    else if (icon.html() == "visibility_off")
    {
      element.attr('type', 'password');
      icon.html("visibility");
    }
    else
    {
      console.log("Problem:\n\tElement id: " + element.attr('id') + "\n\tIcon id: " + icon.attr('id') + "\n\tIcon content: " + icon.html());
    }
  }

  $(document).ready(function(){
    $("#password").css('height',$(".input-group-append").css('height'));
    $("#confirm_password").css('height',$(".input-group-append").css('height'));
  });
</script>
{% endblock%}
