{% extends 'base.html' %}

{% block title %}
Зарегистрироваться
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
<h2>Зарегистрирваться на MarketPlace</h2>
<form method="post">
  <div class="form-group">
    <label for="first_name">Имя: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Фамилия: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="last_name">
  </div>
  <div class="form-group">
    <label for="particular_name">Отчество: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="particular_name">
  </div>
  <div class="form-group">
    <label for="email"></label>
    <input type="email" id="email" class="form-control">
  </div>
  <input type="submit" class="btn btn-dark">
</form>
{% endblock%}
